.pagination {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 20px;
}

.pagination > p {
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 10%;
}

.pagination > p:hover {
    background-color: gray;
}

.active {
    background-color: gray;
}